* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
}

:root {
  --background: rgb(255, 248, 240);
  --medicaidBlue: lightskyblue;
  --medicaidBlueDarker: rgb(89, 191, 255);
  --medicaidDeepBlue: #294784;
  --medicaidGrey: grey;
  --medicaidRed: red;
  --btnPadding: 8px 15px;
}

body {
  background-color: var(--background);
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  min-height: 100vh;
}

.leftContainer {
  flex: 2;
  border-right: 0.5px solid var(--medicaidBlue);
  min-height: inherit;
  position: sticky;
  top: 0;
}

.title {
  color: var(--medicaidBlue);
  text-align: center;
  margin-block: 50px 10px;
}
.leftHeading {
  color: var(--medicaidRed);
  text-align: center;
  margin-block: 50px 50px;
  font-size: 25px;
}

.dummyCertImage {
  width: 90%;
  display: block;
  margin: auto;
}

.rightContainer {
  flex: 5;
  padding: 10px;
}

.profileGenerator {
  border-bottom: 1px solid var(--medicaidBlue);
}

.rightHeading {
  color: var(--medicaidDeepBlue);
  margin-block: 25px 10px;
  font-size: 30px;
}

.infoField {
  display: flex;
  flex-direction: column;
  padding: 2.5% 5%;
  gap: 20px;
}

input.firstname,
input.lastname {
  height: 50px;
  border-radius: 12px;
  padding-left: 40px;
  font-size: 16px;
  border: none;
}

input.imgUpload {
  align-self: center;
  width: 400px;
}

input.imgUpload::-webkit-file-upload-button {
  visibility: hidden;
}

input.imgUpload::before {
  content: "Select a Profile Image";
  background-color: var(--medicaidRed);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--background);
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
}

.generateBtn {
  background-color: var(--medicaidBlue);
  padding: var(--btnPadding);
  border: none;
  border-radius: 10px;
  color: var(--background);
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 50ms linear;
}

.generateBtn:hover {
  background-color: var(--medicaidBlueDarker);
  transform: scale(1.02);
}

.personProfileFrame {
  max-width: 80%;
  display: block;
  margin: auto;
  margin-block: 20px 0;
}

.downloadAndShare {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 50px auto 0;
}

.profileDownloadBtn {
  width: 50%;
  margin: 0 auto 25px;
  padding-block: 8px;
  border-radius: 12px;
  border: none;
  background: var(--medicaidGrey);
  cursor: pointer;
  transition: all 100ms linear;
}

.profileDownloadBtn:hover {
  color: white;
  transform: scale(1.1);
}

.shareIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.shareIcon {
  width: 25px;
  transition: all 100ms linear;
}

.shareIcon:hover {
  transform: scale(1.2);
}
